# Folder for example PyWakeEllipSys and HAWC2S simulation results,
# made for the sake of postprocessing tools development
/example_data/
/run_data/

/__pycache__/
/my_dtu_10mw/
/hawc2s_hawcstab2_2.15_x64/

/plots/

/send_to_paul/